<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.svg' | relative_url }}">
<script src="{{ '/assets/js/decrypt-pdf.js' | relative_url }}"></script>
<script>
    window.onload = function () {
        document.querySelectorAll('a').forEach(link => {
            const href = link.href;
            if (href.endsWith('.enc')) {
                link.addEventListener('click', (event) => {
                    event.preventDefault();
                    enc_link(href)
                        .then(doc => {
                            // TODO: Handle better
                            if (href.endsWith('.csv.enc')) {
                                console.log(doc);
                                open_asset(doc, { type: 'text/raw' });
                            } else
                                open_asset(doc, { type: 'application/pdf' });
                        })
                        .catch(e => {
                            alert('Invalid password or corrupted document.');
                        });
                });
            }
        });
    }
</script>
<title> Ateliers </title>

<!-- end custom head snippets -->